@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,700;0,800;0,900;0,1000;1,200;1,300;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,700;0,800;0,900;0,1000;1,200;1,300;1,700;1,800;1,900;1,1000&family=Protest+Guerrilla&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

header {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 2rem;
    background-image: linear-gradient(to top, #f74780 30%, #fa8fb1 70%);
}


.logo {
    max-width: 6rem;
    border-radius: 50%;
    transition: all 0.3s;

}

.logo:hover {
    transform: scale(1.8);
}

.nombre {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
color: #1c1c1c8b;
    font-size: 30px;

}

.nombre:hover {
    color: #f74780;
    transform: scale(1.2);
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;


}

.nav-list li a {
    text-decoration: none;
    color: antiquewhite;
    border-radius: 10%;
}

.izquierda {
    color: antiquewhite;
    text-align: inherit;
    font-size: 8px;
    background-image: linear-gradient(to top, #f74780 30%, #fa8fb1 70%);
    height: 50vh;
    width: 70%;

}

.derecha {
    background: url(img/assest/funco8.jpg);
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 50vh;

}

#seccion_1 {
    display: flex;
    box-sizing: 20px;
}


.create {
    font-size: 25px;
    color: antiquewhite;
}

.portfolio {
    color: #1c1c1c8e;
    font-size: 40px;
    width: 50%;
    margin-bottom: 40px;
}


.abrir-menu,
.cerrar-menu {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 400px;
    width: 300px;
    margin: 10px;
    transition: 300ms;
    justify-content: space-evenly;
}

.personajes_1,
.personajes_2,
.personajes_3 {
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    background-color: #f74780;
    transition: 300ms;
    position: absolute;

}

.imagen_personaje1 {
    height: 350px;
    width: 200px;
    background-image: url(img/assest/funco1.jpg);
    background-size: cover;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}

.imagen_personaje2 {
    height: 350px;
    width: 200px;
    background-image: url(img/assest/funco3.jpg);
    background-size: cover;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}

.imagen_personaje3 {
    height: 350px;
    width: 200px;
    background-image: url(img/assest/funco5.jpg);
    background-size: cover;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}

.detalle_1,
.detalle_2,
.detalle_3 {
    height: 200px;
    width: 300px;
    background-color: #ffc1d5;
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 150px;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transform: 300ms;
}

.card:hover .imagen_personaje1 {
    transform: translate(-40px);
    transition: 300ms;
    filter: none;
    background-image: url(img/assest/funco7.jpg);

}

.card:hover .imagen_personaje2 {
    transform: translate(-40px);
    transition: 300ms;
    filter: none;
    background-image: url(img/assest/funco9.jpg);

}

.card:hover .imagen_personaje3 {
    transform: translate(-40px);
    transition: 300ms;
    filter: none;
    background-image: url(img/assest/funco3.jpg);

}

.section2 {
    display: flex;
    justify-content: space-between;
    background: #fa8fb1;
}

.cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
}

.cards .face {
    position: absolute;
    width: 100%;
    min-height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cards .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 1 #000;
}

.cards .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #1c1c1c;
    background: #f74780;
    text-align: center;
}

.cards .back {
    transform: perspective(600px) rotateY(180deg);
    background-image: url(img/assest/logo.jpg);
    padding: 15px;
    color: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px #000;
    text-align: center;
    box-shadow: 0 5 10px #000;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.cards .back p {
    letter-spacing: 1px;
    color: #1c1c1c;
}

.cards:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.cards:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.formulario {
    background-color: #ffc1d581;
    width: 250px;
    max-width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.7);
}

.formulario__titulo {
    text-decoration: none;
    text-align: center;
    margin-top: 0;
    color: #f74780;
}

.formulario__input,
.formulario__label,
.formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario__input {
    padding: 20px;
    background: rgb(147, 74, 85, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;

}

.formulario__input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.7);

}

.formulario__input:focus+.formulario__label {
    margin-top: -135px;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: #fa8fb1;
    transition: all 0.2s;
}

.formulario__submit {
    background: #fa8fb1;
    color: antiquewhite;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

footer {
    background-color: #fa8fb1;

}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #f74780;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #ffc1d5;
    transition: 0.5s;

}

.socialIcons a:hover i {
    color: antiquewhite;
    transition: 0.5s;
}

.copy {
    background-color: #f74780;
    padding: 20px;
    text-align: center;
}

.copy p {
    color: antiquewhite;

}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



@media screen and (max-width: 750px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: antiquewhite;
    }


    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffc1d5;
        padding: 2rem;

        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;

    }

    .nav-list li a {
        color: #1c1c1c;

    }

    .nombre {
        display: none;
    }

    .container {

        display: none;

    }

    .cards .funko3 {
        display: none;
    }

    @media (max-width: 750px) {
        .izquierda {
            font-size: 6px;
            width: 100%;
        }

        .derecha {
            width: 70%;
        }

        .form {
            display: none;
        }

        .card:hover .imagen_personaje1 {
            transform: none;
            background-size: cover;
            background-position: center;
        }

        .card:hover .imagen_personaje2 {
            transform: none;
            background-size: cover;
            background-position: center;
        }

        .card:hover .imagen_personaje3 {
            transform: none;
            background-size: cover;
            background-position: center;
        }

        .cards {
            width: 100%;
            margin: 10px;
        }

        .formulario {
            max-width: 100%;
        }

    }
}